<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Shope</h2>
    <ul>
        <a>Atomic Heart</a>
        <button>Купить</button>
    </ul>
    <ul>
        <a>Cyberpunk 2077</a>
        <button>Купить</button>
    </ul>
    <ul>
        <a>PayDay 2</a>
        <button>Купить</button>
    </ul>
    <ul>
        <form action="/" method="get">
            <button type="submit">Вернуться обратно</button>
        </form>
    </ul>
    <ul>
    <a href="basket">Корзина (проба - удалить)</a>
    </ul>
</body>
</html>